@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

.button,
.button__static {
    background-color: $color-orange;
    color: $color-white;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: $font-size-base;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    width: 20rem;
    height: 5rem;
    cursor: pointer;
}

.button__static {
    @include with-pointer {
        &:hover {
            background-color: darken($color: $color-orange, $amount: 6);
        }
    }
}

.button {
    @include with-pointer {
        &:hover {
            transform: translateY(-4px);
            box-shadow: $box-shadow-button-hover;
        }

        &:active {
            transform: translateY(-2px);
            box-shadow: $box-shadow-button-active;
        }
    }
}
