@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

.button {
    background-color: $color-button;
    color: $color-white;
    border: none;
    border-radius: 8px;
    font-family: inherit;
    font-size: $font-size-base;
    font-weight: 600;
    transition: all 0.2s ease-in-out;
    width: 20rem;
    height: 5rem;
    cursor: pointer;

    @include no-pointer {
        &:hover {
            transform: translateY(-4px);
            box-shadow: $box-shadow-button-hover;
        }

        &:active {
            transform: translateY(-2px);
            box-shadow: $box-shadow-button-active;
        }
    }
}
