@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;

.contact-us {
    @include flex-center;
    height: 100vh;
    width: 100vw;

    @include laptop-small {
        height: 90vh;
    }

    @include mobile-large {
        height: 100vh;
    }
}

.contact-us__heading {
    font-size: clamp(4.5rem, 6.5vw + 0.1rem, 6rem);
    margin-bottom: 0.5rem;
}

.contact-us__text {
    margin-bottom: 5rem;
    margin-inline: 1rem;
    width: 90vw;
    text-align: center;
}

.contact-us-form {
    @include flex-center;
}

.contact-us-form__button {
    margin-top: 3rem;
}
