$color-white: rgb(255, 255, 255);
$color-white-1: rgb(229, 229, 229);
$color-black: rgb(0, 0, 0);
$color-purple: rgb(92, 99, 254);
$color-error: rgb(162, 5, 31);

$color-background-main: rgb(245, 253, 254);
$color-button: rgb(255, 179, 109);

$color-border: rgb(200, 200, 200);
$color-border-outline: rgb(170, 170, 170);

$color-scrollbar-transparent-1: rgba(50, 65, 98, 0.1);
$color-scrollbar-transparent-2: rgba(50, 65, 98, 0.28);
$color-scrollbar-box-shadow: rgba(0, 0, 0, 0.05);
