$color-white: rgb(255, 255, 255);
$color-white-1: rgb(238, 238, 238);
$color-purple: rgb(92, 99, 254);

$color-background-main: rgb(245, 253, 254);
$color-button: rgb(255, 179, 109);

$color-scrollbar-transparent-1: rgba(50, 65, 98, 0.1);
$color-scrollbar-transparent-2: rgba(50, 65, 98, 0.28);
$color-scrollbar-box-shadow: rgba(0, 0, 0, 0.05);
