@use './breakpoints' as *;

@mixin flex-center($direction: column) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin scrollbar() {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        border-radius: 5px;
        background-clip: padding-box;
        background-color: $color-scrollbar-transparent-2;
        box-shadow: $color-scrollbar-box-shadow;
    }

    &::-webkit-scrollbar-track {
        background-color: $color-scrollbar-transparent-1;
    }
}

// Media Queries

@mixin mobile-small() {
    @media (max-width: $breakpoint-mobile-small) {
        @content;
    }
}

@mixin mobile-medium() {
    @media (max-width: $breakpoint-mobile-medium) {
        @content;
    }
}

@mixin mobile-large() {
    @media (max-width: $breakpoint-mobile-large) {
        @content;
    }
}

@mixin tablet() {
    @media (max-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin laptop-small() {
    @media (max-width: $breakpoint-laptop-small) {
        @content;
    }
}

@mixin laptop-large() {
    @media (max-width: $breakpoint-laptop-large) {
        @content;
    }
}

@mixin tall-mobile {
    @media (min-height: $breakpoint-height-tall) {
        @content;
    }
}

@mixin respond-to($width) {
    @media (max-width: $width) {
        @content;
    }
}
