@use './breakpoints' as *;

@mixin flex-center($direction: column) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin scrollbar() {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-thumb {
        border: 2px solid transparent;
        border-radius: 5px;
        background-clip: padding-box;
        background-color: $color-scrollbar-transparent-2;
        box-shadow: $color-scrollbar-box-shadow;
    }

    &::-webkit-scrollbar-track {
        background-color: $color-scrollbar-transparent-1;
    }
}

// Media Queries

@mixin small-mobile() {
    @media (max-width: $breakpoint-width-tiny) {
        @content;
    }
}

@mixin mobile() {
    @media (max-width: $breakpoint-width-small) {
        @content;
    }
}

@mixin tablet() {
    @media (max-width: $breakpoint-width-medium) {
        @content;
    }
}

@mixin laptop() {
    @media (max-width: $breakpoint-width-big) {
        @content;
    }
}

@mixin desktop() {
    @media (max-width: $breakpoint-width-huge) {
        @content;
    }
}

@mixin tall-mobile {
    @media (min-height: $breakpoint-height-tall) {
        @content;
    }
}
