$font-size-base: 1.6rem;
$font-size-300: 1.7rem;

$box-shadow-header: 2px 4px 10px 2px rgba(0, 0, 0, 0.2);
$box-shadow-button: 2px 4px 10px 2px rgba(255, 179, 109, 0.3);
$box-shadow-button-hover: 2px 7px 10px 2px rgba(255, 179, 109, 0.4);
$box-shadow-button-active: 2px 4px 10px 2px rgba(255, 179, 109, 0.4);
$box-shadow-profile: 1px 1px 5px 1px rgba(34, 34, 34, 0.08);
