@use '@/styles/abstracts/breakpoints' as *;
@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

.onboarding {
    @include flex-center;
    justify-content: flex-start;
    margin-top: 5rem;
    width: 100vw;
    height: 91vh;

    h1 {
        padding-inline: 2rem;
    }
}

.onboarding-club__opening-hours {
    @include flex-center(row);
    justify-content: space-between;
    width: min(80vw, 55rem);

    .MuiFormControl-root {
        width: 48%;
    }

    .MuiInputBase-root {
        width: 100%;
    }
}

// Club Onboarding
.onboarding-club__form {
    @include flex-center;
}

.onboarding-club__services {
    gap: 4rem;
    display: grid;
    grid-template-areas:
        'sculling erg coaching'
        'sweep-row eight-sweep rental';

    @include tablet {
        grid-template-areas:
            'sculling erg'
            'coaching sweep-row'
            'eight-sweep rental';
    }

    @include respond-to(500px) {
        gap: 2rem;
    }
}

.onboarding-club__services > button {
    font-weight: 500;
    height: 6rem;
    border: 0.5px solid $color-black;
    background-color: transparent;
    color: $color-black;

    @include with-pointer {
        &:hover {
            transform: translateY(0);
            background-color: $color-button;
            color: $color-white;
            border: none;
            box-shadow: none;
        }
    }

    @include respond-to(500px) {
        width: 15rem;
        font-size: 14px;
    }

    // Grid Area
    :first-of-type {
        grid-area: sculling;
    }

    :nth-of-type(2) {
        grid-area: erg;
    }

    :nth-of-type(3) {
        grid-area: coaching;
    }

    :nth-of-type(4) {
        grid-area: sweep-row;
    }

    :nth-of-type(5) {
        grid-area: eight-sweep;
    }

    :last-of-type {
        grid-area: rental;
    }
}

.onboarding-club__services > button.selected {
    background-color: $color-button;
    color: $color-white;
    border: none;
    box-shadow: none;
}

.onboarding-club__boats-button {
    background-color: $color-button;
    color: $color-white;
    border: none;
    border-radius: 5px;
    font-family: inherit;
    font-size: $font-size-base;
    font-weight: 500;
    width: 10rem;
    height: 4.5rem;
    margin-top: 1rem;
    cursor: pointer;

    @include mobile-large {
        height: 4rem;
    }
}

.onboarding-club__boats-names {
    @include flex-center(row);
    width: min(80vw, 55rem);
    margin-top: 3rem;

    p {
        font-size: 1.4rem;
        border: 0.5px solid $color-black;
        border-radius: 5px;
        padding: 5px 10px;

        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }
}
