@use '@/styles/abstracts/breakpoints' as *;
@use '@/styles/abstracts/mixins' as *;

.onboarding {
    @include flex-center;
    margin-top: 5rem;
}

.onboarding-club__opening-hours {
    @include respond-to-min($breakpoint-mobile-large) {
        @include flex-center(row);
        justify-content: space-between;
        width: min(80vw, 55rem);

        .MuiFormControl-root {
            width: 48%;
        }

        .MuiInputBase-root {
            width: 100%;
        }
    }
}

.onboarding-club__form {
    @include flex-center;
}
