@use '@/styles/abstracts/breakpoints' as *;
@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;

.profile {
    @include flex-center(row);
    height: 100vh;
    width: 100vw;

    h1,
    h2,
    h3 {
        font-family: 'Source Sans Pro', sans-serif;
    }
}

// Menu Section
.profile-menu,
.profile-menu__user {
    @include flex-center;
}

.profile-menu {
    justify-content: space-between;
    height: 90%;
    width: 20%;
    border-right: 1px solid rgb(221, 221, 221);

    h3 {
        margin-top: 0;
    }
}

h3.profile-menu__logo {
    font-family: 'Teko', sans-serif;
}

.profile-menu__user {
    h3 {
        font-size: 2rem;
        font-weight: 700;
        margin-block: 2rem;
        color: rgb(34, 34, 34);
        letter-spacing: normal;
    }

    p {
        font-size: 1.5rem;
    }
}

.profile-menu__link,
.active {
    @include flex-center(row);
    justify-content: flex-start;
    margin-bottom: 4rem;

    .MuiSvgIcon-root,
    img {
        margin-right: 1rem;
    }
}

.active {
    font-weight: 600;
}

// Main Section
.profile-main {
    @include flex-center;
    min-height: 90%;
    flex: 1;

    h1 {
        font-weight: 700;
        font-size: 5rem;
        letter-spacing: normal;
    }
}

// Dashboard
.profile-dashboard {
    @include flex-center(row);
    justify-content: space-around;
    width: 90%;
    height: 90vh;
}

.profile-session__no-sessions {
    font-size: 1.6rem;
}

.profile-session-container {
    width: 35rem;
    height: 90%;

    &:has(> :only-child) {
        @include flex-center;
    }

    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

.profile-session-card {
    @include flex-center;
    margin-bottom: 2rem;
    padding-block: 3rem;
    width: 95%;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 1px rgba(34, 34, 34, 0.08);
    border: 1px solid rgb(221, 221, 221);

    .MuiAvatarGroup-root {
        margin-bottom: 3rem;

        .MuiAvatar-root {
            width: 40px;
            height: 40px;
            background-color: $color-teal;
            font-size: 1.3rem;
        }
    }

    button {
        background-color: rgb(211, 47, 47);
        transition: 0.2s all ease-in-out;

        &:hover {
            background-color: rgb(198, 40, 40);
        }
    }
}

.profile-session-card__heading {
    font-size: 2rem;
    font-weight: 700;
    margin-block: 0.5rem;
}

.profile-session-card__price {
    font-weight: 500;
    margin-block: 1.5rem 1rem;
}

.profile-session-card__coach {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    // font-weight: 500;
}

.profile-session-card__date {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.profile-session-card__time {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}

.profile-session-card__attendees {
    font-size: 1.3rem;
    font-weight: 500;
    margin-block: 1rem;
}

.profile-session-card__no-attendees {
    font-size: 1.3rem;
    margin-block: 1rem 2rem;
}

// Profile Athletes
.profile-athletes {
    @include flex-center;
    width: 90%;

    th {
        font-weight: 600;
        color: rgb(85, 85, 85);

        .table-heading {
            display: flex;
            align-items: center;
        }

        .MuiSvgIcon-root {
            width: 1.8rem;
            height: 1.8rem;
            margin-left: 0.5rem;
        }
    }

    .MuiPaper-root {
        max-height: 80vh;
    }
}

// Payments
.profile-payments {
    @include flex-center;
    height: 100%;

    p {
        margin-top: 2.5rem;
    }
}

// Sessions
.profile-session-form {
    @include flex-center;

    h1 {
        margin-bottom: 5rem;
        text-transform: capitalize;
    }
}

.profile-session-form__pricing {
    @include flex-center(row);
    justify-content: space-between;
    width: min(80vw, 55rem);

    .MuiFormControl-root {
        width: 32%;
    }

    .MuiInputBase-root {
        width: 100%;
    }

    @include mobile-large {
        flex-direction: column;

        .MuiFormControl-root {
            width: 100%;
        }
    }
}

.profile-session-form__prices {
    @include flex-center(row);
    justify-content: space-between;
    width: 65.5%;

    .MuiFormControl-root {
        width: 48%;
    }

    .MuiInputBase-root {
        width: 100%;
    }

    @include mobile-large {
        width: 100%;
    }
}

.profile-session-form__date-time {
    @include flex-center(row);
    justify-content: space-between;
    width: min(80vw, 55rem);

    .MuiFormControl-root {
        width: 31%;
    }

    .MuiInputBase-root {
        width: 100%;
    }

    @include mobile-large {
        flex-direction: column;

        .MuiFormControl-root {
            width: 100%;
        }
    }
}

.profile-session-form__time {
    @include flex-center(row);
    justify-content: space-between;
    width: 66%;

    .MuiFormControl-root {
        width: 48%;
    }

    .MuiInputBase-root {
        width: 100%;
    }

    @include mobile-large {
        width: 100%;
    }
}

.profile-session-form__payout-text,
.profile-session-form__guest-payout-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(119, 119, 119);
    margin-bottom: 1rem;
}

.profile-session-form__payout-text {
    margin-top: 1rem;
}

.profile-session-form-button {
    margin-top: 2rem;
}

// Create Session Success
.profile-session__create-success {
    @include flex-center;

    img {
        height: 30rem;
        width: auto;
    }

    h1 {
        font-size: 3.5rem;
        margin-bottom: 1rem;
    }

    p {
        font-size: 1.6rem;
    }
}
