@use '@/styles/abstracts/breakpoints' as *;
@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

.profile {
    @include flex-center(row);
    height: 100svh;
    height: 100vh;
    width: 100vw;

    @include respond-to(1200px) {
        flex-direction: column;
        min-height: 100vh;
        height: max-content;
    }
}

// Menu Section
.profile-menu,
.profile-menu__header {
    @include flex-center;
}

.profile-menu {
    justify-content: space-between;
    height: min(90%, 80rem);
    width: min(20%, 29rem);
    border-right: 1px solid $color-border;

    h3 {
        margin-top: 0;
    }

    a {
        text-transform: capitalize;
    }

    .MuiAvatar-root {
        border: 4px solid $color-orange;
    }

    @include respond-to(1200px) {
        height: fit-content;
        width: fit-content;
        border: none;

        .logo {
            position: absolute;
            top: 2rem;
            left: 5rem;
        }
    }

    @include mobile-large {
        .logo {
            @include absolute-center;
            top: 4rem;
        }
    }
}

.profile-menu__header {
    justify-self: flex-start;

    h3 {
        font-size: 2.5rem;
        margin-block: 2rem;
        color: rgb(34, 34, 34);
    }

    p {
        font-size: 1.5rem;
    }

    @include respond-to(1200px) {
        width: 90vw;
        margin-top: 10rem;
    }
}

.profile-menu__logo {
    margin-bottom: 7rem;
}

.profile-menu__links {
    @include respond-to(1200px) {
        @include flex-center(row);
        margin-block: 1.5rem 3rem;

        @include hide-scrollbar;
        width: 90vw;
        overflow-x: scroll;

        svg {
            display: none;
        }
    }

    @include mobile-large {
        justify-content: flex-start;
    }
}

.profile-menu__link,
.active {
    @include flex-center(row);
    justify-content: flex-start;
    margin-bottom: 4rem;

    svg,
    img {
        margin-right: 1rem;
    }

    @include respond-to(1200px) {
        margin-bottom: 0;

        &:not(:last-of-type) {
            margin-right: 2rem;
        }
    }
}

.active {
    font-weight: 600;
}

// Main Section
.profile-main {
    @include flex-center;
    min-height: 90%;
    height: max-content;
    flex: 1;

    @include respond-to(1200px) {
        min-width: 90vw;
        justify-content: flex-start;
    }
}

// Dashboard
.profile-dashboard {
    @include flex-center(row);
    justify-content: space-around;
    width: min(90%, 105rem);
    height: 90vh;

    @include respond-to(1200px) {
        flex-direction: column;
        height: max-content;
        margin-top: 3rem;
    }
}

.profile-session__no-sessions {
    font-size: 1.6rem;

    @include respond-to(1200px) {
        margin-top: 5rem;
    }

    @include mobile-large {
        font-size: 1.4rem;
    }
}

.profile-session-container {
    @include hide-scrollbar;
    overflow-y: scroll;

    width: 35rem;
    height: 90%;

    &.single-child {
        @include flex-center(row);
    }

    @include respond-to(1200px) {
        overflow-y: hidden;
        overflow-x: scroll;
        width: 95vw;
        padding: 3rem 2rem;
        display: flex;
    }
}

.profile-session-card {
    @include flex-center;
    margin-bottom: 2rem;
    padding-block: 3rem;
    width: 95%;
    border-radius: 5px;
    border: 1px solid $color-border;
    box-shadow: $box-shadow-profile;

    .MuiAvatarGroup-root {
        margin-bottom: 2rem;

        .MuiAvatar-root {
            width: 40px;
            height: 40px;
            background-color: $color-teal;
            font-size: 1.3rem;
        }
    }

    @include respond-to(1200px) {
        padding-inline: 5rem;
        height: 46.3rem;

        &:not(:last-of-type) {
            margin-right: 3rem;
        }
    }
}

.profile-session-card__heading {
    font-size: 2.5rem;
    margin-block: 0.5rem 0.2rem;
}

.profile-session-card__price {
    font-weight: 500;
    margin-block: 1.5rem 1rem;
}

.profile-session-card__coach {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.profile-session-card__date {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.2rem;
}

.profile-session-card__time {
    font-size: 1.4rem;
    margin-bottom: 1.5rem;

    &.isAthlete {
        margin-bottom: 2rem;
    }
}

.profile-session-card__attendees {
    font-size: 1.3rem;
    font-weight: 500;
    margin-bottom: 1rem;
}

.profile-session-card__no-attendees {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}

.profile-session-card__button {
    background-color: rgb(211, 47, 47);
    transition: 0.2s all ease-in-out;
    font-size: 1.5rem;

    &:hover {
        background-color: rgb(198, 40, 40);
    }
}

.profile-session-card__button--athlete {
    background-color: $color-orange;
    transition: 0.2s all ease-in-out;
    font-size: 1.5rem;

    &:hover {
        background-color: darken($color-orange, 6);
    }

    &.success {
        background-color: rgb(62, 159, 90);
        cursor: not-allowed;
    }
}

// Profile Athletes
.profile-athletes {
    @include flex-center;
    width: 90%;

    th {
        font-weight: 600;
        color: rgb(85, 85, 85);

        .table-heading {
            display: flex;
            align-items: center;
        }

        .MuiSvgIcon-root {
            width: 1.8rem;
            height: 1.8rem;
            margin-left: 0.5rem;
        }
    }

    .MuiPaper-root {
        max-height: 80vh;
    }

    @include respond-to(1200px) {
        width: 100%;
        margin-top: 3rem;
    }
}

// Payments
.profile-payments {
    @include flex-center;
    height: 100%;

    p {
        margin-top: 2.5rem;
    }

    @include respond-to(1200px) {
        width: 90vw;
        margin-top: 5rem;

        p {
            font-size: 1.4rem;
        }
    }

    @include mobile-large {
        width: max-content;
    }
}

// Sessions
.profile-session-form {
    @include flex-center;

    h1 {
        margin-bottom: 5rem;
        text-transform: capitalize;
    }

    @include respond-to(1200px) {
        justify-self: flex-start;
        margin-bottom: 5rem;
    }
}

.profile-session-form__pricing {
    @include flex-center(row);
    justify-content: space-between;
    width: min(80vw, 55rem);

    .MuiFormControl-root {
        width: 32%;
    }

    .MuiInputBase-root {
        width: 100%;
    }

    @include mobile-large {
        flex-direction: column;

        .MuiFormControl-root {
            width: 100%;
        }
    }
}

.profile-session-form__prices {
    @include flex-center(row);
    justify-content: space-between;
    width: 65.5%;

    .MuiFormControl-root {
        width: 48%;
    }

    .MuiInputBase-root {
        width: 100%;
    }

    @include mobile-large {
        width: 100%;
    }
}

.profile-session-form__date-time {
    @include flex-center(row);
    justify-content: space-between;
    width: min(80vw, 55rem);

    .MuiFormControl-root {
        width: 31%;
    }

    .MuiInputBase-root {
        width: 100%;
    }

    @include mobile-large {
        flex-direction: column;

        .MuiFormControl-root {
            width: 100%;
        }
    }
}

.profile-session-form__time {
    @include flex-center(row);
    justify-content: space-between;
    width: 66%;

    .MuiFormControl-root {
        width: 48%;
    }

    .MuiInputBase-root {
        width: 100%;
    }

    @include mobile-large {
        width: 100%;
    }
}

.profile-session-form__payout-text,
.profile-session-form__guest-payout-text {
    font-size: 1.5rem;
    font-weight: 500;
    color: rgb(119, 119, 119);
    margin-bottom: 1rem;
}

.profile-session-form__payout-text {
    margin-top: 1rem;
}

.profile-session-form-button {
    margin-top: 2rem;
}

// Create Session Success
.profile-session__create-success {
    @include flex-center;

    img {
        height: 30rem;
        width: auto;
    }

    h1 {
        font-size: clamp(3.8rem, 6vw + 0.1rem, 5rem);
        margin-bottom: 0;
    }

    p {
        font-size: 1.6rem;
    }
}

// Services
.profile-services {
    @include flex-center;
    width: 100%;

    h2 {
        margin-bottom: 1rem;
    }

    @include mobile-large {
        padding-bottom: 5rem;

        h2 {
            margin-bottom: 0;
        }
    }
}

.profile-services__services-container,
.profile-services__boats-container {
    @include flex-center(row);
    @include hide-scrollbar;
    overflow-x: scroll;

    @include mobile-large {
        @include flex-center;
        width: 90vw;
    }

    .MuiFormControl-root {
        margin-block: 1rem 0;

        @include mobile-large {
            margin-block: 1rem;
        }
    }

    .MuiInputLabel-root {
        color: $color-black !important;
    }
}

.profile-services__service,
.profile-services__boat {
    @include flex-center;
    border-radius: 5px;
    border: 1px solid $color-border;
    box-shadow: $box-shadow-profile;
    min-width: 20rem;
    height: 6rem;

    &:not(:last-of-type) {
        margin-right: 3rem;
    }

    @include mobile-large {
        &:not(:last-of-type) {
            margin-bottom: 1rem;
            margin-right: 0;
        }
    }
}

.profile-services__boat {
    min-width: 35rem;
}

.profile-services__button {
    margin-top: 3rem;

    &:first-of-type {
        margin-bottom: 5rem;
    }

    @include mobile-large {
        margin-top: 1.5rem;

        &:first-of-type {
            margin-bottom: 2.5rem;
        }
    }
}

// Services - Add Boat
.profile-services-boats {
    @include flex-center;
    width: 90%;
    min-height: 100vh;
    margin-top: 5rem;
}

.profile-services-form {
    @include flex-center;

    button {
        margin-top: 2rem;
    }
}

// Checkout
.profile-checkout {
    @include flex-center;
    height: 100vh;

    img {
        height: 30rem;
        width: auto;
    }

    h1 {
        font-size: clamp(3.8rem, 6vw + 0.1rem, 5rem);
        margin-bottom: 0;
    }

    p {
        font-size: 1.6rem;
        padding-inline: 2rem;
    }

    a {
        font-weight: 600;
    }
}
