@use '@/styles/abstracts/breakpoints' as *;
@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;
@use '@/styles/abstracts/variables' as *;

.header {
    @include flex-center(row);
    width: 100vw;
}

.header__container {
    @include flex-center(row);
    position: relative;
    margin-inline: 5rem;
    width: min(100vw, 134rem);
    min-height: 100vh;
    min-height: 100svh;

    @include laptop-small {
        @include flex-center;
        margin-top: 10rem;
        margin-inline: 0;
        padding-bottom: 17rem;
        height: auto;
    }

    @include mobile-large {
        padding-bottom: 10rem;
    }
}

.header__text-container {
    width: 90%;

    @include tablet {
        margin-bottom: 3rem;
    }
}

.header__heading {
    font-size: clamp(4.5rem, 6.5vw + 0.1rem, 6rem);
    font-weight: 400;
    letter-spacing: 0.1rem;
    margin-bottom: 1rem;

    @include respond-to(1335px) {
        font-weight: 600;
    }

    @include laptop-small {
        letter-spacing: 0.05rem;
    }

    span {
        @include respond-to(1335px) {
            display: block;
            letter-spacing: 0.05rem;
            padding-left: 3px;
        }

        @include laptop-small {
            display: inline;
            letter-spacing: normal;
        }

        @include tablet {
            display: block;
            letter-spacing: 0.05rem;
        }
    }
}

.header__text {
    width: 90%;
    padding-inline: 8px;

    @include laptop-small {
        width: 80%;
        margin-inline: auto;
    }

    @include tablet {
        margin-bottom: 3rem;
        width: 100%;
    }

    @include mobile-medium {
        padding-inline: 0;
    }
}

.header__button {
    width: 13rem;
}

.header__images {
    position: relative;
    width: 90%;

    @include respond-to(1335px) {
        bottom: 3.5rem;
    }

    @include respond-to(1078px) {
        bottom: 1.8rem;
    }

    @include laptop-small {
        bottom: 0;
        margin-top: 2rem;
    }

    @include tablet {
        margin-top: 0;
    }
}

.header__image {
    position: relative;
    margin-top: 2.5rem;
    z-index: 100;
    height: 45rem;
    width: auto;

    @include laptop-large {
        height: 35rem;
    }

    @include laptop-small {
        height: 45rem;
    }

    @include tablet {
        height: 35rem;
    }

    @include respond-to(500px) {
        height: 25rem;
    }
}

.header__image--background {
    display: inline;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 70rem;
    width: auto;

    @include laptop-large {
        height: 50rem;
    }

    @include laptop-small {
        height: 70rem;
    }

    @include tablet {
        height: 50rem;
    }

    @include respond-to(500px) {
        height: 35rem;
    }
}

.header__image-benefits {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    height: 6rem;
    width: min(86.4rem, 70vw);
    padding-left: 2rem;
    position: absolute;
    bottom: -5.4rem;
    right: 1rem;
    font-weight: 500;
    border-radius: 8px;
    box-shadow: $box-shadow-header;
    user-select: none;

    @include laptop-small {
        width: 90vw;
        right: 0;
        bottom: -5.6rem;
        padding-inline: 2rem;
        font-weight: 400;

        span {
            font-size: 1.4rem;
        }
    }

    @include tablet {
        & > span:nth-of-type(1),
        & > span:nth-of-type(2) {
            display: none;
        }

        & > span:nth-of-type(3) {
            flex-grow: 1;
        }
    }

    @include respond-to($breakpoint-width-small) {
        & > span:nth-of-type(1),
        & > span:nth-of-type(2),
        & > span:nth-of-type(4) {
            display: none;
        }

        & > span:nth-of-type(3) {
            width: 100%;
        }
    }

    @include mobile-medium {
        display: none;
    }
}

.header__image-benefits--divider {
    border: 1px solid $color-white-1;
    width: 30px;
    transform: rotate(90deg);
}

.header__image-benefits--cta {
    background-color: $color-purple;
    color: $color-white;
    height: 100%;
    padding: 1.9rem 3rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;

    @include laptop-small {
        margin-right: -2rem;
    }
}
