@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    background-color: $color-background-main;
    overflow-x: hidden;
}

body {
    @include flex-center;

    @include respond-to(290px) {
        overflow-x: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}
