@use '@/styles/abstracts/colors' as *;
@use '@/styles/abstracts/mixins' as *;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    overflow-x: hidden;
    min-height: 100%;
}

body {
    @include flex-center;
    background-color: $color-background-main;

    @include respond-to(290px) {
        overflow-x: hidden;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }
}

a {
    text-decoration: none;
    color: $color-black;
    cursor: pointer;
}

ul {
    list-style: none;
}
